.container{
  
}

.row{
  
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.col{
  height: 300px;
  width: 300px;
  border: 1px solid rgb(226, 226, 226);
  margin-top: px ;
  border-radius: 5px;
  
}
.col .img{
  height: 640px;
  
}
.col .img img{
  height: 300px;
  width: 300px;

}
.col .content h1{
 
  margin-top: -10px;
  text-align: center;
}

.col .content p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: -12px;
}

.col:hover{
    box-shadow: 0 0 10px purple
    

}